{% extends "web_project/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="profile">
        <div class="user_info">
            <h3>Profile Update</h3>
            <p class='text-muted'>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><h5>Username: </h5><h6>@{{ user.username}}</h6></li>
                <li class="list-group-item list-group-item-light"><h5>First Name: </h5><h6>{{ user.first_name  | capfirst }}</h6></li>
                <li class="list-group-item list-group-item-light"><h5>Last Name: </h5><h6>{{ user.last_name  | capfirst }}</h6></li>
                <li class="list-group-item list-group-item-light"><h5>Email: </h5><h6>{{ user.email }}</h6></li>
            </ul>
            </p>
        </div>

        <div class="user_buttons">
            <a href="{% url 'profile-update'%}" class="btn btn-outline-info">Update</a>
        </div>
    </div>
{% endblock content %}