{% extends "web_project/base.html" %}
{% load crispy_forms_tags %}
{% block last_search %}

    <div class="col-md-4">
        <div class="content-section">
                <h3>Your previous glance into the future</h3>
                <p class='text-muted'>Your recent search results will appear here.
                <ul class="list-group">
                    {% for search in last_searches %}
                        {% if search != 0 %}
                            <li class="list-group-item list-group-item-light"><h6>{{search}}$</h6></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </p>
            </div> 
        </div>
{% endblock last_search %}

{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Your Future House Details </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button id="load" class="btn btn-outline-info" type="submit" onclick="clearResult()">
                    <span id = "unsubmit">Submit</span>
                    <span id = "submit"class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">Loading...</span>
                </button>

                <style>
                    #submit{
                        display: none;
                    }
                </style>
                <script>
                    function clearResult() {
                        document.getElementById("unsubmit").style.display = 'none';
                        document.getElementById("submit").style.display = 'contents'
                        document.getElementById("load").classList.add("btn-disable");
                        document.getElementById("result").innerHTML = "";
                    }
                </script>
            </div>
        </form>
        
        {% if pred == 0 %}
            <h4></h4>

        {% else %}
            <div id="result">
                <h4 > Price of the this house would be {{pred}} $</h4>

            </div>

        {% endif %}

    </div> 
{% endblock content %}       