{% extends "web_project/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Your Future House Details </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
        
        {% if pred == 0 %}

            <h4> </h4>
    
        {% else %}
            <h4> Price of the this house would be {{pred}} $</h4>

        {% endif %}
        
    </div>
{% endblock content %}