
ml_web_project/ml_project/archive/ALL Prices 1990-2021 mar.csv
ml_web_project/ml_project/archive/Balas Table.csv
ml_web_project/ml_project/archive/complete.csv
ml_web_project/ml_project/archive/dummy variable.csv
ml_web_project/ml_project/archive/gni per capita.csv
ml_web_project/ml_project/archive/HDB machine learning.xlsx
ml_web_project/ml_project/archive/MAS Core Inflation.csv
ml_web_project/ml_project/core_cpi_predict.pickle
ml_web_project/ml_project/price_predict.pickle
ml_web_project/ml_project/year_gni_predict.pickle
*.csv
*.xlsx
